<%- include('partials/head', {title: "Detalle de pedido"}) %>

    </head>

    <body>
        <div class="div-container">
            <%- include('partials/headerpedidossearch')  %>
                <div class="data-item">
                    <div class="pedidos-encabezado">
                        <div class="titulo-encabezado">
                            <div class="info-pedido">
                                <div>
                                    <h3>
                                        Cliente:
                                    </h3>
                                    <h3 class="nro-cliente">

                                    </h3>

                                    <h3 class="text-nro-pedido">
                                        N° pedido:
                                    </h3>

                                </div>

                                <h3>Fecha:

                                </h3>
                                <h3>Escaneado:

                                </h3>
                                <h3>Estado:
                                </h3>
                                <h3>Vendedor:

                                </h3>
                                <h3>Cantidad de Items:

                                </h3>
                            </div>
                            <div class="menu">
                                <nav>
                                    <ul id="menu">
                                        <li><a class="btn-menu" href="">Menu</a>
                                            <ul>
                                                <li><a href="">Editar cliente</a></li>
                                                <li><a class="btn-del-pedido" href="">Eliminar pedido</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="encabezado-detalle-de-pedido">
                            <div class="encabezado-codigo">Codigo Producto</div>
                            <div class="encabezado-descripcion">Descripcion</div>
                            <div class="encabezado-precio">Precio</div>
                            <div class="encabezado-cantidad">Cantidad</div>
                            <div class="encabezado-operaciones"> Operaciones </div>
                        </div>

                        <div class="form-aux">

                        </div>

                    </div>
                </div>
        </div>
        </div>

    </body>


    </html>
    <!-- 
    PORT=4000
SERVER_DB=localhost
NAME_DB=discv
USER_DB=root
PASSWORD_DB=root -->