<%- include('partials/head', {title: "Sistema de Pedidos"}) %>
    </head>

    <body>
        <div class="navbar">
            <img class="logo" src="../img/logo_maxico.png" alt="">
        </div>

        <div class="buttons">
            <a class="btn-a" href="/remitos">Remitos Express</a>
            <a class="btn-a" href="/pedidos">Pedidos Remotos</a>
        </div>

    </body>

    </html>