<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title> Sistema de Pedidos</title>
</head>

<body>
    <div class="navbar">
        <img class="logo" src="../img/logo_maxico.png" alt="">
    </div>

    <div class="buttons">
        <a class="btn-a" href="/remitos">Remitos Express</a>
        <a class="btn-a" href="/pedidos">Pedidos Remotos</a>

    </div>

</body>

</html>